body{
   font-family: 'Open Sans', sans-serif;
}

.form_input{
   height: 50px;
   border-radius: 5px;
   width: 100%;
}
.form *{
   outline: none;
}
.form_input:focus{
   box-shadow: 0 0 15px rgb(61, 71, 124);
}
.modal-title {
   color: rgba(122, 77, 167, 0.975);
   font-weight: 700;
   font-size: 25px;
}

.modal-header {
   text-align: center;
   color: #fff;
}
.modal-content {
   border: 6px solid rgba(122, 77, 167, 0.975);
}


#open-btn {
   background-color: rgba(122, 77, 167, 0.975);
   color: #fff;
   border-radius: 5px;
   font-size: 18px;
   font-weight: bold;
   border: none;
   cursor: pointer;
   width: 180px;
 }

#send {
 
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 60px;
   background-color:rgba(122, 77, 167, 0.975) ;
   color: #fff;
   font-size: 18px;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-weight: 700;
   cursor: pointer;
   border-radius: 20px;
   box-shadow: 0 5px 0 #0b0b0b;
   transition: background-color 0.5s ease 0s;
   position: relative;
   top: 0;
}
.send :hover{
   background-color: rgb(61, 71, 124); 
}
.send :active{
   top: 3px;
   box-shadow: 0 2px 0 #0b0b0b;
}

