#main{
  display: flex;
  flex-direction: column;
}

@media screen and (orientation: landscape){
  #tabl{
    order: 2;
  }
  #all_link{
    order: 1;
  }
  #forma{
    order:3;
  }
}

@media screen and (max-width: 800px){
  #tabl{
    order: 1;
  }
  #all_link{
    order: 2;
  }
  #forma{
    order:3;
  }
}


.all_ul {
  list-style: none; 
  margin: 0;
  padding-left: 0; 
  padding-right: 0;
  margin-top: 25px; 
  text-align: center;
}
.all_a {
  text-decoration: none; 
  background: #311675; 
  color: #fff; 
  width: 100%;
  font-family: 'Times New Roman', Times, serif; 
  line-height: 30px; 
  display: block;
  font-size:calc(15px + 5 * (100vw / 1280));
  
  -moz-transition: all 0.3s 0.01s ease; 
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
  text-align: center;
}
.all_a:hover {
  background: #BBBBFF; 
}
.all_li {
  float: center; 
  position: relative; 
  width: 100%;
 }


.all_li > ul {
  position: relative;
  display: none;
  list-style: none; 
  margin: 0; 
  padding-left: 0; 
  font-size:calc(10px + 5 * (100vw / 1280));
}


.all_li:hover > ul {
  display: block;
  width: 100%; 
}
.all_li:hover > ul > li {
  float: none; 
}

body{
  margin: 0;
}

table{
  font-family: sans-serif;
  font-size: calc(5px + 10 * (100vw / 1280));
  text-align:center;
  width: 80%;
  height: 280px;
  border-spacing: 4px;
  background:#7B68EE;
  color: #151715;
  border: 5px solid #ece9e0;
  border-radius: 5px;
  margin: auto;

}

caption{
    font-family: 'TimeNewRoman';
    font-size: calc(15px + 5 * (100vw / 1280));
}

th{
    font-size: calc(5px + 10 * (100vw / 1280));
    padding: 10px;
    background: #FFE4C4;
}

td{
    background: #BBBBFF;
    padding: 5px;
}

tr.two td{
    font-family: sans-serif;
    background: #ebe9e9;
  }

  tr.four td{
    font-family: sans-serif;
    background: #ebe9e9;
  }

  tr.six td{
    font-family: sans-serif;
    background: #ebe9e9;
  }

  #cell55{
    background: #BBBBFF;
  }

 header{
    background:#311675;
    width: calc(100% - 20px);
    padding: 10px;
    height: 120px;
 }

 #hat{
    background: #ddd;
    text-align: center; 
    padding: 15px;
    color:#2d136f;
    font-size: calc(15px + 5 * (100vw / 1280));
    font-weight:bold;
    margin-top: 35px;
}

#footer{
    background-color: #311675;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center; 
    width: 100%;   
    font-size: calc(10px + 5 * (100vw / 1280));
    font-weight: bold;
    color: #fafaff;
}

  .block{
    width: calc(100% - 20px);
    background-color: #ccc;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    max-width: 960px;
  }
